# 移动推荐算法

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os

# 1.read_data

In [2]:
os.chdir("/home/zhh/文档/阿里巴巴/移动推荐大赛/1 .original datasets/fresh_comp_offline")
os.listdir()

['tianchi_fresh_comp_train_item.csv', 'tianchi_fresh_comp_train_user.csv']

In [3]:
%%time
#读取用户的数
train_user = pd.read_csv("tianchi_fresh_comp_train_user.csv")
train_item = pd.read_csv("tianchi_fresh_comp_train_item.csv")

CPU times: user 14.4 s, sys: 912 ms, total: 15.3 s
Wall time: 22.4 s

In [4]:
train_user.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11

In [5]:
train_item.head()

     item_id item_geohash  item_category
0  100002303          NaN           3368
1  100003592          NaN           7995
2  100006838          NaN          12630
3  100008089          NaN           7791
4  100012750          NaN           9614

In [6]:
%%time
#将用户和物品merge起来
user_item = pd.merge(train_user,train_item,left_on=["item_id","item_category"]\
                 ,right_on=["item_id","item_category"],how="left")

CPU times: user 6.54 s, sys: 748 ms, total: 7.29 s
Wall time: 7.32 s

In [7]:
user_item.shape

(25486130, 7)

In [8]:
user_item.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time,item_geohash
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18,NaN
1,10001082,4368907,1,NaN,5503,2014-12-12 12,NaN
2,10001082,4368907,1,NaN,5503,2014-12-12 12,NaN
3,10001082,53616768,1,NaN,9762,2014-12-02 15,NaN
4,10001082,151466952,1,NaN,5232,2014-12-12 11,NaN

In [9]:
#删除train_user、train_item,减少内存的占用
del train_user
del train_item

# 2.数据概况
----

> * 1、数据的行列
> * 2、数据的空缺情况
> * 3、每一列的数据类型

In [12]:
#数据的行列
user_item.shape

(25486130, 7)

In [13]:
#behavior_type的空值
np.sum(user_item["behavior_type"].isnull())

0

In [14]:
#用户的地理位置
np.sum(user_item["user_geohash"].isnull())/user_item.shape[0]*100

68.404434098076095

In [15]:
# item_category
np.sum(user_item["item_category"].isnull())

0

In [16]:
#item_geohash
np.sum(user_item["item_geohash"].isnull())/user_item.shape[0]*100

91.30645178377415

In [17]:
user_item.dtypes

user_id           int64
item_id           int64
behavior_type     int64
user_geohash     object
item_category     int64
time             object
item_geohash     object
dtype: object

In [18]:
%%time
#转换时间
user_item["time"] = pd.DatetimeIndex(pd.to_datetime(user_item["time"]))

CPU times: user 6.07 s, sys: 84 ms, total: 6.16 s
Wall time: 6.18 s

In [19]:
%%time
user_item["day_of_week"] = user_item["time"].dt.weekday_name
user_item["hour"] = user_item["time"].dt.hour

CPU times: user 2.78 s, sys: 64 ms, total: 2.84 s
Wall time: 2.83 s

In [1]:
user_item.head()

NameError: name 'user_ite' is not defined